datasets==2.17.1 
peft==0.4.0 
bitsandbytes==0.40.2
scipy 
sentencepiece 
protobuf
gradio
accelerate==0.21.0
lfs
vllm
huggingface_hub
filelock==3.13.4
torch==2.0.1
flash_attn
transformers==4.12.0
safetensors>=0.3.1